<header class="site-header">
    <nav class="navbar" id="main-nav">
        <div class="container">
            <a class="navbar-brand" href="/">
                Lorem Ipsum
            </a>
            <button class="hamburger hamburger--squeeze navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <div class="collapse navbar-toggleable-md" id="collapsingNavbar">
                <ul class="nav navbar-nav float-lg-right">
                    {% assign sorted_pages = site.pages | sort:"position", "last" %}
                    {% for page in sorted_pages %}
                        {% if page.title != "404: Page not found" and page.title != null %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </nav>
    <div id="mobile-nav" class="container">
    </div>

</header>
