#homepage {
    h1 {
        margin-top: 8vh;
    }
}

.interior-page {
    padding-top: 6rem;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 30px;
}

.list-group-flush {
    margin-left: 0;
}

.blog-post {
    .featured-image {
        max-width: 40%;
    }
    .float-right {
        float: right;
        margin: 30px 0 30px 30px;
    }
}
