/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

//== Colors
//
//## Colors for use across site.

$text-color: #69737b;

$mjk-purple: #742f8a;
$mjk-black: #262626;
$mjk-gray: #69737b;
